@font-face{font-family:'PuHuiTi';src:url('PuHuiTi-Regular-sub.woff2') format('woff2');font-weight:400;font-display:swap}
@font-face{font-family:'PuHuiTi';src:url('PuHuiTi-Medium-sub.woff2') format('woff2');font-weight:500;font-display:swap}
@font-face{font-family:'PuHuiTi';src:url('PuHuiTi-Bold-sub.woff2') format('woff2');font-weight:700 900;font-display:swap}
@font-face{font-family:'SourceHanSerif';src:url('SourceHanSerif-SemiBold-sub.woff2') format('woff2');font-weight:500 600;font-display:swap}
@font-face{font-family:'SourceHanSerif';src:url('SourceHanSerif-Bold-sub.woff2') format('woff2');font-weight:700 900;font-display:swap}
